@model IEnumerable<QLDaiLy.Models.PhieuXuatHang>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.phieuThuTien.MaPhieuThuTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayLapPhieuDat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayLapPhieuXuat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaDL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaCTPhieu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.phieuThuTien.MaPhieuThuTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayLapPhieuDat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayLapPhieuXuat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaDL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaCTPhieu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaPhieuXuat }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaPhieuXuat }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaPhieuXuat })
        </td>
    </tr>
}

</table>
