@model QLDaiLy.Models.LoaiDaiLy

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width,initial-sacle=1" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>

<body style="background-color:black">

    <img src="~/Images/2.PNG" />

    <div class="navbar navbar-default" style="background-color:black">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">G6DL</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Giới Thiệu</a></li>
                <li><a href="#">Liên hệ</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tài Khoản<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Đổi Mật Khẩu</a></li>
                        <li><a href="#">Đăng Xuất</a></li>

                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span>Tổng Đại Lý 1</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <h1 style="color:cadetblue">QUẢN LÝ</h1>
            <ul class="list-group" style="background-color:dimgray">
                <li class="list-group-item">Đại Lý</li>
                <li class="list-group-item list-group-item-info">Loại Đại Lý</li>
                <li class="list-group-item">Mặt Hàng</li>
                <li class="list-group-item">Loại Mặt Hàng</li>
                <li class="list-group-item">Phiếu Xuất Hàng</li>
                <li class="list-group-item">Phiếu Thu Tiền</li>
                <li class="list-group-item">Đại Lý</li>
            </ul>
        </div>

        <div class="col-md-9">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Thêm Loại Đại Lý</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.MaDaiLy, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MaDaiLy, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MaDaiLy, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TenLoaiDL, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TenLoaiDL, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenLoaiDL, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.GhiChu, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Trở về", "Index")
            </div>

        </div>
    </div>
</body>
</html>


